<footer class=" container-fluid fixed-bottom" style =" 
left: 0;
bottom: 0;
background-color: rgb(236, 236, 236);
height: 50px;">
        
        <div class="position-relative">
          
          <p class="text-center pt-3">&copy;2021 MeetDoctor | Design by <a href="https://fredagbona.netlify.app" class=" text-dark" target="_blank">  Freddy AGBONA</a>
          </p>
        </div>
          

        </div> 
         
          

</footer>