<title>Help Page | MeetDoctor</title>

<h1 class="text-center pt-3"> <i class="bi bi-info-square"></i> Helps</h1>

<section class="container-fluid bg-success mt-5" style="height: 2vh;">

</section>

<section class="container-fluid mt-4">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <%= image_tag "/doctor.jpg", width: "300px", class: "thumbnail" %>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12">
            <h2>F.A.Q</h2>
            <div class="accordion accordion-flush border border-2 border-success" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        How to register ?
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">- You can register <a href="/users/sign_up " class="text-primary">here.</a> <br>
                        - When filling out the registration form, check the Doctor box if you are, leave it unchecked if you are registering as a patient.<br>
                        - If you register as a Doctor, do not forget to add your specialty and your schedules from the management page of your profile.</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        How to make an appointment?
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">- Access the directory of doctors <a href="/doctors" class="text-primary"> here.</a><br>
                        - Click on the profile of the specialist that suits you.<br> 
                        </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        How to interact with the specialists on the platform?
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">- You have the possibility to comment on the announcements published by the specialists on the <a href="/annonces" class="text-primary" >announcements page</a>, ask your questions directly.<br>
                        - You also have the option of asking them when requesting an appointment.</div>
                  </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading4">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
                          How to change the language of the site?
                      </button>
                    </h2>
                    <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="flush-heading4" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">You will find at the bottom of the site a button allowing you to change the language of the site. The languages ​​available at the moment are English and French.</div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading5">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">
                          How do you know if your appointment request has been accepted?
                      </button>
                    </h2>
                    <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="flush-heading5" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">Once your appointment request has been made, you will receive an email within 24 hours confirming your appointment.</div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading6">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse6" aria-expanded="false" aria-controls="flush-collapse6">
                          How to add your specialty and your schedules?
                      </button>
                    </h2>
                    <div id="flush-collapse6" class="accordion-collapse collapse" aria-labelledby="flush-heading6" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">If you checked the "Doctor" box when registering, then you can directly add your specialty and your schedules from your "Profile" page.</div>
                    </div>
                  </div>
              </div>
        </div>
       
    </div>
</section>
<section class="container-fluid bg-success mt-5" style="height: 2vh;">

</section>
<br><br><br><br>