<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @appointment.message %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
